body{
    width: 100%;
    background-color: rgba(31, 137, 161, 0.522);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

h1{
    position: sticky;
    width: 100%;
    text-align: center;
    border-bottom: solid 1px;
    border-color: #ffffff;
    background-color: rgba(0, 0, 0, 0.543);
    color: white;
    padding-bottom: 25px;
    padding-top: 25px;
    margin: 0px;
    font-size: 3.5vw;
    text-shadow: 0.7px 0.7px;
    box-shadow: 1px 0.1px 20px 1px;
}

article{
    position: relative;
    border: none;
    padding: 15px;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 8vw;
    background-color: #07b79f;
    box-shadow: 4px 5px 15px 5px rgba(81, 129, 132, 0.999);
}

.first_article{
    margin-top: 8vw;
}

.all_icons{
    border: none;
    background-color: rgba(17, 17, 10, 0);
    cursor: pointer;
}

.first_bookmark{
    position: absolute;
    top: -2px;
    right: 0px;
}

.second_bookmark{
    position: absolute;
    top: -2px;
    right: 0px;
}

.third_bookmark{
    position: absolute;
    top: -2px;
    right: 0px;
}

.bookmark_4{
    position: absolute;
    top: -2px;
    right: 0px;
}

p{
    text-align: center;
    padding-bottom: 10px;
    font-size: 2.6vw;
    font-weight: bold;
}

.button_center{
    text-align: center;
}

.show_answer_button{
    padding: 5px 15px 5px 15px;
    margin-top: 5px;
    margin-bottom: 35px;
    border: dotted 2px;
    border-radius: 2px;
    color: rgb(0, 0, 0);
    background-color: rgb(81, 255, 0);
    font-weight: bold;
    font-size: 2vw;
    cursor: pointer;
}

.button_answer{
    display: flex;
    justify-content: center;
    justify-content:space-evenly;
    border: none;
}

.type_answer{
    border: none;
    margin-bottom: 2vw;
    background-color: rgb(255, 68, 68);
    font-size: 2.8vw;
    border: none;
    box-shadow: 1px 2px 5px 0px;
    cursor: pointer;
}

.last_article{
    margin-bottom: 18vw;
}

footer{
    position: fixed;
    width: 100%;
    bottom: 0vw;
    padding-top: 0px;
    padding-bottom: 0px;
    border-top: solid 1px;
    border-color: #ffffff;
    background-color: rgb(164, 119, 119);
    box-shadow: 0px 20px 100px 20px rgba(255, 255, 255, 0.378);
}

.div_footer{
    display: flex;    
}

.footer_buttons{
    position: relative;
    bottom: 0vw;
    height: 8vw;
    width: 100%;
    padding: 0px 0px 0px 0px;
    background-color: rgb(186, 85, 85);
    box-shadow: 0px 70px 80px 1px;
}



.third_page_icon{
    position: absolute;
    top: 20%;
    left: 27%;
    height: 20vw;
}

.third_page_name{
    position: absolute;
    top: 22%;
    left: 55%;
    font-size: 5vw;
}

.third_page_aboutme{
    position: absolute;
    top: 45%;
    left: 20%;
}