h1{
    width: 100%;
    text-align: center;
    border-bottom: solid;
    padding-bottom: 20px;
}

article{
    border: solid;
    padding: 10px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.first_article{
    margin-top: 0px;
}

p{
    text-align: center;
    font-size: large;
    padding-bottom: 10px;
}

.button_center{
    text-align: center;
}

.show_answer_button{
    padding: 5px 15px 5px 15px;
    margin-top: 5px;
    margin-bottom: 35px;
}

.last_article{
    margin-bottom: 90px;
}

footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    border-top: solid;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
}

.div_footer{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}