body{
    background-color: rgba(38, 121, 139, 0.629);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

h1{
    position: relative;
    width: 100%;
    text-align: center;
    border-bottom: solid 1px;
    border-color: #ffffff;
    background-color: rgba(0, 0, 0, 0.239);
    color: white;
    padding-bottom: 20px;
    padding-top: 15px;
    margin-top: 0px;
    font-size: 7vw;
    text-shadow: 0.5px 0.5px;
    box-shadow: 1px 0.1px 20px 1px;
}

article{
    position: relative;
    border: none;
    padding: 15px;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 30px;
    background-color: rgba(182, 188, 96, 0.755);
    box-shadow: 5px 5px 15px 2px rgba(81, 129, 132, 0.999);
}

.first_article{
    margin-top: 35px;
}

.all_icons{
    border: none;
    background-color: rgba(9, 9, 6, 0);
    cursor: pointer;
}

.bookmark_1{
    position: absolute;
    top: 10px;
    right: 10px;
}

.bookmark_2{
    position: absolute;
    top: 10px;
    right: 10px;
}

.bookmark_3{
    position: absolute;
    top: 10px;
    right: 10px;
}

.bookmark_4{
    position: absolute;
    top: 10px;
    right: 10px;
}

p{
    text-align: center;
    font-size: large;
    padding-bottom: 10px;
    font-size: 4vw;
    font-weight: bold;
}

.button_center{
    text-align: center;
}

.show_answer_button{
    padding: 5px 15px 5px 15px;
    margin-top: 5px;
    margin-bottom: 35px;
    border: none;
    border-radius: 2px;
    color: white;
    background-color: rgba(208, 48, 56, 0.998);
    font-weight: bold;
    font-style: italic;
    font-size: 2.5vw;
    cursor: pointer;
}

.button_answer{
    display: flex;
    justify-content: center;
    justify-content:space-evenly;
    border: none;
}

.type_answer{
    border: none;
    background-color: rgba(78, 255, 116, 0.532);
    font-size: 3vw;
}

.last_article{
    margin-bottom: 120px;
}

footer{
    position: fixed;
    width: 100%;
    height: 10%;
    bottom: 0px;
    border-top: solid 1px;
    border-color: rgba(255, 255, 255, 0.252);
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(164, 119, 119);
}

.div_footer{
    display: flex;
    position: absolute;
    bottom: 20px

}

.footer_buttons{
    position: relative;
    bottom: -25px;
    padding: 1px 5px 1px 1px;
    background-color: rgba(108, 51, 51, 0.732);
    box-shadow: 0px 70px 80px 1px;
}

.third_page_icon{
    position: absolute;
    top: 20%;
    left: 27%;
    height: 20vw;
}

.third_page_name{
    position: absolute;
    top: 22%;
    left: 55%;
    font-size: 5vw;
}

.third_page_aboutme{
    position: absolute;
    top: 45%;
    left: 20%;
}