@import "/css/global.css";

form {
  margin-top: 15%;
  margin-left: 20%;
  margin-right: 20%;
}

p{
    margin-left: 3vw;
    margin-bottom: 2vw;
    font-size: 2.5vw;
    padding: 1vw;
    margin-right: 20vw;
    background-color: #c7b19828;
    border-radius: 5px;
}

input {
    text-align: top;
    width: 100%;
    height: 10vw;
    background-color: #fdf8c9;
}
