@import "/css/global.css";

.container {
  display: block;
  justify-content: center;
  margin-top: 35px;
  margin-left: 12vw;
  margin-right: 12vw;
  height: 150vw;
}

.profile_main {
  display: flex;
  margin-bottom: 30px;
}

.profile_icon {
  height: 25vw;
  padding-left: 15vw;
}

.third_page_name {
  padding-left: 6vw;
  padding-top: 7vw;
  font-size: 4vw;
  font-weight: bold;
}

.block_personal_text {
  padding-left: 4vw;
  padding-right: 4vw;
}

.third_page_aboutme {
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  padding-left: 7vw;
  font-size: 3.5vw;
  font-weight: bold;
  border-radius: 60px 60px 10px 10px;
  background-color: #dfd3c3b0;
  box-shadow: 2px 3px 30px 5px rgb(255, 255, 255);
}

.div_description {
  padding-left: 3vw;
  padding-right: 3vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  border-radius: 5px;
  background-color: #c7b19867;
  box-shadow: 2px 3px 60px 5px rgb(255, 255, 255);
}

.description_aboutme {
  font-size: 3vw;
}

.question {
  position: absolute;
  display: flex;
  width: 18%;
  margin-top: 10vw;
  margin-left: 12vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  border-radius: 5px;
  background-color: #e6c79e;
}

.format_question_icon {
  margin-left: 2vw;
  padding-right: 8vw;
}

.number {
  font-size: 3vw;
  font-weight: bold;
}

.bookmark {
  display: flex;
  width: 23%;
  margin-top: 10vw;
  margin-left: 45vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  border-radius: 5px;
  background-color: #e6c79e;;
}

.format_bookmark_icon {
  margin-left: 2vw;
  padding-right: 8vw;
}

hr{
  margin-top: 9vw;
}

.settings {
  margin-top: 8vw;
  padding-left: 7vw;
  font-size: 3.5vw;
  font-weight: bold;
}

.display_flex_darkmode {
  display: flex;
  margin-top: 8vw;
}

.darkmode_p {
  margin-left: 5vw;
  font-size: 3vw;
}

.button_toggle {
  margin-left: 40vw;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}
